<app-sidebar></app-sidebar>
<br>
<br>
<br>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product Detail</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Product Detail</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Product Detail</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Product Name</span>
                      <span class="info-box-number text-center text-muted mb-0">{{product.product.productName}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Price</span>
                      <span class="info-box-number text-center text-muted mb-0">{{product.mrp}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Model</span>
                      <span class="info-box-number text-center text-muted mb-0">{{getYearOfManufacture(product) | date:'yyyy'}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Vehicle Information</h4>
                    <div class="post">
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                        <div class="form-group">
                            <label>Serial No:</label>
                            {{ product.product.slNumber }}
                          </div>
                          <div class="form-group">
                            <label>Registration No:</label>
                            {{ product.product.registrationNo }}
                          </div>
                          <div class="form-group">
                            <label>Chassis No:</label>
                            {{ product.product.chassisNumber }}
                          </div>
                          <div class="form-group">
                            <label>Engine No:</label>
                            {{ product.product.engineNumber }}
                          </div>
                          <div class="form-group">
                            <label>Body:</label>
                            {{ product.product.body }}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Mileage:</label>
                            {{ product.product.mileage }}
                          </div>
                          <div class="form-group">
                            <label>Drive:</label>
                            {{ product.product.drive }}
                          </div>
                          <div class="form-group">
                            <label>Fuel Type:</label>
                            {{ product.product.fuelType }}
                          </div>
                          <div class="form-group">
                            <label>Color:</label>
                            {{ product.product.exteriorColor }}
                          </div>
                          <div class="form-group">
                            <label>From:</label>
                            {{ product.product.exportedFrom }}
                          </div>
                        </div>
                        
                        </div>

                      
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary"><i class="fas fa-paint-brush"></i> Car Features</h3>
              <p class="text-muted">{{product.product.carFeatures}}</p>
              <br>
              <div class="text-muted">
                <p class="text-sm">Installment
                    <b class="d-block">{{ product.installment ? 'Available' : 'Not Available' }}</b>
                </p>
            </div>
            

              <h5 class="mt-5 text-muted">Additional Files</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                </li>
              </ul>
              <div class="text-center mt-5 mb-3">
                <a href="#" class="btn btn-sm btn-primary">Add files</a>&nbsp;&nbsp;
                <a href="#" [routerLink]="['/sale/', product.srid, 'edit']" class="btn btn-sm btn-warning">Sell This Vehicle</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>